{% extends 'App1/base.html' %}
{% load static %}

{% block header %}
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="header-inner">
					<h1><a href="{% url 'inicio' %}">Circulo</a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="{% url 'ventas' %}">Ventas</a></li>
							<li><a href="{% url  'alquiler' %} ">Alquileres</a></li>
							<li><a href="{% url 'tasaciones' %}">Tasaciones</a></li>
							
							<li class="cta"><a href="{% url 'contacto' %}">Contactanos</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
			
	</header>

{% endblock%}


{% block content %}


	<div class="fh5co-page-title" style="background-image: url({% static 'Appp1/images/slide_6.jpg'%});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					<h1><span class="colored">Circulo</span> Inmobiliario</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="best-deal">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
					<h2>Muchas gracias por contactarte con nosotros, tu mensaje ha sido enviado con exito!</h2>
					
					
				</div>
			</div>
		</div>	
				
	<div id="fh5co-agents">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading white animate-box" data-animate-effect="fadeIn">
					<h2>Servicios Disponibles</h2>
					<p>Tenemos eso que tanto estas buscando </p>
				</div>
				<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/alquiler.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Alquileres </h3>
						<br>
						<p>Nuestras  Alquileres Disponibles </p>
						<p><a href="{% url 'alquiler' %}" class="btn btn-primary btn-outline">Informacion</a></p>
					</div>
					
				</div>
				<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/venta.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Ventas</h3>
						<br>
						<p>Ventas Disponibles</p>
						<br>
						<p><a href="{% url 'ventas' %}" class="btn btn-primary btn-outline">Informacion</a></p>
					</div>
				</div>
                <div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/tasacion.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Tasaciones</h3>
						<br>
						<p>Tasaciones Disponibles</p>
						<br>
						<p><a href="{% url 'tasaciones' %}" class="btn btn-primary btn-outline">Informacion</a></p>
					</div>
				</div>
				
				
				
			</div>
		</div>
	

	

{% endblock %}