{% extends 'App1/base.html'%} {% load static %} {% block header %}
<div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="row">
                <div class="header-inner">
                    <a href="{% url 'inicio' %}"><img src="{% static 'Appp1/images/1.png' %}" width="106px" height="60px" alt=""></a>
                    <nav role="navigation">
                        <ul>
                            <li><a href="{% url  'venta_casas' %} ">Casas</a></li>
                            <li><a href="{% url 'venta_locales' %}">Locales</a></li>
                            <li><a href="{% url 'venta_casas' %}">Casas</a></li>
                            <li><a href="{% url 'venta_departamentos' %}">Departamentos</a></li>

                            <li class="cta"><a href="{% url 'contacto' %}">Contactanos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% endblock %} {% block content %}

    <div class="fh5co-page-title" style="background-image: url({% static 'Appp1/images/slide_6.jpg'%});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><a href="{% url 'ventas' %}" style="text-decoration:none"><span class="colored">Ventas</a> </span>Oficinas</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="best-deal">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
                    <h2>Encontra aqui tu futura Oficina </h2>
                    <p>Nuestro servicio esta abocado a la satifaccion de nuestros clientes </p>
                </div>

                <!--  Carousel -->

                {% for oficina in oficinas %}
                <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-property">
                        <figure>
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for pi in oficina.postimagenes_set.all %}
                                    <div class="item {% if forloop.first %} active {% endif %}">
                                        <img class="carousel-inner" src="{{pi.image.url}}" alt="First slide">
                                    </div>
                                    {% endfor %}

                                </div>

                            </div>
                            <a href="{% url 'ofice_local_details_ventas' oficina.id  %}" class="tag"> Ver Propiedad</a>
                        </figure>

                        <div class="fh5co-property-innter">

                            <h3><a href="{% url 'ofice_local_details_ventas' oficina.id  %}">{{oficina.title}}</a></h3>

                            <div class="price-status">
                                <span class="per">$</span><span class="price">{{oficina.price}}<span class="per">/Mes</span></span>
                            </div>


                            <p>{{oficina.content}} </p>
                        </div>
                        <p class="fh5co-property-specification">
                            <span><strong>{{oficina.superficie}} </strong> m2 de Superficie </span>
                            <br>
                            <span><strong>{{oficina.plantas}}</strong> Plantas  </span> <span><strong>{{oficina.baños}}</strong> Baños</span>
                        </p>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" style='z-index: 999' id="galleryModal" data-backdrop="false" tabindex="-1" role="dialog">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="galleryModalLabel">
                                </h5>

                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}