{% extends 'App1/base.html'%}
{% load static %}


{% block header %}
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="header-inner">
                  <span class="rounded-circle">
						<span class="rounded-circle">
				  <a href="{% url 'alquiler' %}"><img src="{% static 'Appp1/images/1.png' %}" width="106px" height="60px" alt=""></a>
				  </span>
				  </span>
					<nav role="navigation">
						<ul>
						
							<li><a href="{% url 'alqui_departamentos' %}">Departamentos</a></li>
							<li><a href="{% url 'alqui_casas' %}">Casas</a></li>
							<li><a href="{% url 'alqui_duplex' %}">Duplex</a></li>
							<li><a href="{% url 'alqui_oficinas' %}">Oficinas</a></li>
							<li><a href="{% url 'alqui_locales' %}">Locales</a></li>
							
							
							
							
							<li class="cta"><a href="{% url 'contacto' %}">Contactanos</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

{% endblock %}

{% block content %}

		<div class="fh5co-page-title" style="background-image: url({% static 'Appp1/images/slide_6.jpg'%});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					<h1><a href ="{% url 'alquiler' %}" style="text-decoration:none"><span class="colored">Alquileres</a> </span>Disponibles</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="best-deal">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
					<h2>Te ayudamos a encontrar eso que tanto estas buscando</h2>
					<p>Todas nuestras propiedades disponibles  para que eligas la que mas necesites </p>
				</div>
			</div>
		</div>
	</div>

			
				


	

	
	<div id="fh5co-agents">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading white animate-box" data-animate-effect="fadeIn">
					<h2>Propiedades Disponibles</h2>
					<p>Elegi aqui lo que tanto estas buscando </p>
				</div>
				<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/Casa.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Casas en Alquiler </h3>
						<br>
						<p>Nuestras Casas en Alquiler </p>
						<p><a href="{% url 'alqui_casas' %}" class="btn btn-primary btn-outline">Información</a></p>
					</div>
					
				</div>
				<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/oficina.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Oficinas en Alquiler</h3>
						<br>
						<p>Oficinas disponibles</p>
						<p><a href="{% url 'alqui_oficinas' %}" class="btn btn-primary btn-outline">Información</a></p>
					</div>
				</div>
				<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/departamentos.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Departamentos en Alquiler</h3>
						<p>Departamentos Disponibles</p>
						<p><a href="{% url 'alqui_departamentos' %}" class="btn btn-primary btn-outline">Información</a></p>
					</div>
				</div>
				
				<div class="col-md-4 text-center item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-agent">
						<figure>
							<img src="{% static 'Appp1/images/locales.jpg'%}" alt="Imagen Error">
						</figure>
						<h3>Locales Comerciales en Alquiler</h3>
						<p>Locales Disponibles</p>
						<p><a href="{% url 'alqui_locales' %}" class="btn btn-primary btn-outline">Información</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	



{% endblock %}
