{% extends 'App1/base.html'%}
{% load static %}   
{% block header %}
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="header-inner">
					<h1><a href="{% url 'inicio' %}">Circulo</a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="{% url 'ventas' %}">Ventas</a></li>
							<li><a href="{% url  'alquiler' %} ">Alquileres</a></li>
							<li><a href="{% url 'tasaciones' %}">Tasaciones</a></li>
							<li><a href="{% url 'acercanuestro' %}">Acerca Nuestro</a></li>
							
							<li class="cta"><a href="{% url 'contacto' %}">Contactanos</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
			
	</header>

{% endblock %}
{% block content %}

<aside id="fh5co-hero" clsas="js-fullheight">
	{% for inicio in inicios %}
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({{inicio.image.url}});">
			           <div class="container">
		   			<div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
		   				<div class="fh5co-property-brief-inner">
		   					<div class="fh5co-box">
		   						
		   						<h3><a href="#">{{inicio.title}}</a></h3>
		   					<div class="price-status">
                             	<span class="price">$ <span class="price">{{inicio.precio}}<a href="#" class="tag">Disponible</a></span>
	                        </div>
	                        <p>{{inicio.content}}</p>

	                        <p class="fh5co-property-specification">
                        		<span><strong>{{inicio.superficie}}</strong> m2</span>  <span><strong>{{inicio.ambientes}}</strong>Dormitorios</span>  
                        	</p>

	                        <p><a href="{% url 'venta_casas' %}" class="btn btn-primary">Informacion</a></p>
									
	                        
	   						</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
			{% endfor %}
		   	
		  	</ul>
	  	</div>
	</aside>


    <div id="best-deal">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
					<h2>Te ofrecemos un verdadero Servicio Inmobiliario</h2>
					<p>Encontra en nuestro sitio todo lo que estas buscando </p>
				</div>

				 {% for inicio in inicios %}
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">


					<div class="fh5co-property">
						<figure>
							<img src="{{inicio.image.url}}" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
							<a href="#" class="tag">Disponible</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{inicio.title}}</a></h3>
							<div class="price-status">
		                 	<span class="price">$ <span class="price">{{inicio.precio}}<a href="#" class="tag">En Venta</a></span>
		               </div>
		               <p>{{inicio.content}}</p>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{inicio.superficie}}</strong> m2</span>  <span><strong>{{inicio.ambientes}}</strong>Dormitorios</span> 
	            	</p>
					</div>

					
				</div>
					{% endfor %}
				
				</div>


			</div>
		</div>
	</div>


<div class="fh5co-section-with-image">
		
		<img src="{% static 'Appp1/images/image_1.jpg' %}" alt="" class="img-responsive">
		<div class="fh5co-box animate-box">
			<h2>Proactivos , Confiables  &amp; Transparentes</h2>
			<p>Brindamos un cálido servicio  de la mano de la confianza de nuestros clientes</p>
			<p><a href="{% url 'contacto' %}" class="btn btn-primary btn-outline with-arrow">Contactanos <i class="icon-arrow-right"></i></a></p>
		</div>
		
	</div>

	

	

{% endblock %}