
{% extends 'App1/base.html' %}
{% load static %}
{% block content %}
	<!--Contenido-->
	<main>
		<!--Acerca de - contenido -->
		<div class="container">
			<div class="row contenedor">

				<div class="col">
					<h2 class="titulo">Contactame</h2>
					<div class="row contacto justify-content-center align-items-center">
					 <form action  ="" method ="POST">
                                       {% csrf_token %} 
                                    
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form.email }}
                                            </div>
                                           
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form.content }}
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" class="boton btn-block py-2" value="Enviar">
                                        </div>
                                     
                                    </form>


					</div>

					<div class="row contacto justify-content-center align-items-center">
						<div class="col-12 col-lg-2 col-md-2">
							<a href="#" class="icono icon-mail mail"></a>
						</div>
						<div class="col-12 col-lg-3 col-md-3">
							<p class="text-center">ignaciovidondo@hotmail.com</p>
						</div>
						<div class="col-12 col-lg-7 col-md-7">
							
						</div>
					</div>

					<div class="row contacto justify-content-center align-items-center">
						<div class="col-12 col-lg-2 col-md-2">
							<a href="#" class="icono icon-whatsapp whatsapp"></a>
						</div>
						<div class="col-12 col-lg-3 col-md-3">
							<p class="text-center">Whatsapp  +543513502311
							</p>
						</div>
						<div class="col-12 col-lg-7 col-md-7">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}